* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #686668;
  list-style-type: none;
}
/* To maximise the width of viewport to 1226px. */
#device-viewport {
  max-width: 1226px;
  margin: 0 auto;
  background-color: rgb(241, 241, 240);
}

/* All these parts below will set up the web style on mobile device */
/* set up header part style  */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-top: 1rem;
}

header img {
  width: 50px;
  height: 50px;
}

header li {
  margin: 0.5rem;
  text-align: right;
}
/* set up all the links hover animation */
.hover-content:hover {
  color: black;
  text-decoration: line-through;
}

/* set up section part style */
section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#intro-list {
  width: 100%;
  margin: 1rem;
  line-height: 1.5rem;
}

#intro-list h2 {
  padiing-top: 1.5rem;
}

#intro-pic {
  width: 90vw;
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 330px;
  max-height: 330px;
}

#intro-pic img {
  width: 90vw;
  border-radius: 10%;
  max-width: 330px;
}

#intro #hov-pic {
  width: 90vw;
  height: 90vw;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 10%;
  position: absolute;
  top: 0;
  right: -100vw;
  max-width: 330px;
  max-height: 330px;
}

#intro-pic:hover #hov-pic {
  right: 0;
  top: 0;
  transition: 0.2s;
}

/* set up profile parts styles */
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

#profile-1 {
  width: 100%;
  height: 100vw;
  min-height: 250px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px grey solid;
}
#profile-1 h2 {
  color: rgb(0, 0, 0, 0.9);
  font-size: 1rem;
  margin: 1rem;
}
#image-list {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#image-list img {
  width: 40%;
  margin: 0.2rem;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
}

/* hover on the personliaty image effection */
#img-1:hover,
#img-2:hover,
#img-3:hover,
#img-4:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-top: 0.1rem;
}

.personality-content {
  width: 100%;
  position: absolute;
  background-color: yellow;
  bottom: -4rem;
}

/* hover on personality individually show different content from the bottom line */
#img-1:hover ~ #personality-content1 {
  bottom: 0;
}

#img-2:hover ~ #personality-content2 {
  bottom: 0;
}

#img-3:hover ~ #personality-content3 {
  bottom: 0;
}

#img-4:hover ~ #personality-content4 {
  bottom: 0;
}

#profile-2 {
  width: 100vw;
  position: relative;
  display: flex;
  margin-top: 2rem;
}

#profile-2 img {
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
  flex: 1;
}

#profile h3 {
  position: absolute;
  top: 1rem;
  color: rgb(0, 0, 0, 0.7);
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: rgb(255, 254, 255, 0);
}

#profile-3 {
  width: 100vw;
  position: relative;
  display: flex;
  margin-top: 2rem;
}

#profile-3 img {
  width: 100%;
}

#profile-4 {
  width: 100vw;
  position: relative;
  display: flex;
  margin-top: 2rem;
  border: 1px grey solid;
}

#profile-4 img {
  width: 100%;
  opacity: 0.9;
}

/* set up footer style */
footer {
  width: 100%;
  height: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

footer .social-media {
  font-size: 2rem;
  margin: 0.5rem;
}

footer .copyright {
  margin-top: 1vh;
  margin-bottom: 1rem;
  text-align: center;
}

/* All the css below set up layout when screen width 468px to 810px like a tablet */
@media only screen and (min-width: 468px) and (max-width: 810px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }

  section {
    justify-content: space-around;
  }

  #intro-pic {
    width: 70vw;
  }

  #intro-pic img {
    width: 70vw;
    max-width: 330px;
    max-height: 330px;
  }

  #intro #hov-pic {
    width: 70vw;
    height: 70vw;
    background-color: rgb(0, 0, 0, 0.3);
    max-width: 330px;
    max-height: 330px;
    top: 0;
  }

  main {
    flex-direction: row;
  }

  #profile-1,
  #profile-2,
  #profile-3,
  #profile-4 {
    width: 45%;
    height: 45vw;
    min-height: 200px;
    margin: 0;
  }

  #image-list {
    margin: 0;
    width: 50%;
  }
}

/* All the css below set up layout when screen width over 810px on computer environment */
@media only screen and (min-width: 811px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }

  section {
    justify-content: space-between;
    padding: 0 50px;
  }

  #intro-list {
    width: 65%;
    font-size: 1.5rem;
    line-height: 2;
    padding-right: 4rem;
  }

  #intro-pic {
    width: 280px;
  }

  #intro-pic img {
    width: 280px;
    border-radius: 10%;
  }

  #intro #hov-pic {
    width: 280px;
    height: 280px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10%;
  }

  main {
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    padding: 2rem;
  }

  #profile-1,
  #profile-2,
  #profile-3,
  #profile-4 {
    width: 25vw;
    height: 25vw;
    max-width: 290px;
    max-height: 290px;
    margin: 0;
    min-height: 200px;
    overflow: hidden;
  }

  #image-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .personality-content {
    width: 100%;
    position: absolute;
    height: auto;
    bottom: -4rem;
    background-color: yellow;
  }

  #img-1:hover ~ #personality-content1 {
    bottom: 0;
  }

  #img-2:hover ~ #personality-content2 {
    bottom: 0;
  }

  #img-3:hover ~ #personality-content3 {
    bottom: 0;
  }

  #img-4:hover ~ #personality-content4 {
    bottom: 0;
  }
}
