* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #686668;
  list-style-type: none;
}
#device-viewport {
  max-width: 1226px;
  margin: 0 auto;
  background-color: rgb(241, 241, 240);
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-top: 1rem;
}
main>div{
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
}
header img {
  width: 50px;
  height: 50px;
}

header li {
  margin: 0.5rem;
  text-align: right;
}

.hover-content:hover {
  color: black;
  text-decoration: line-through;
}
article {
  margin: 2rem;
  text-align: center;
}

footer {
  width: 100%;
  height: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
footer .social-media {
  font-size: 2rem;
  margin: 0.5rem;
}
footer .copyright {
  margin-top: 1vh;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width: 440px) {
    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    header ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    header li {
      margin: 2rem 1rem 1rem;
      text-align: right;
    }
  }
