* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #686668;
  list-style-type: none;
}
/* To maximise the width of viewport to 1226px. */
#device-viewport {
  max-width: 1226px;
  margin: 0 auto;
  background-color: rgb(241, 241, 240);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-top: 1rem;
}

header img {
  width: 50px;
  height: 50px;
}

header li {
  margin: 0.5rem;
  text-align: right;
}

.hover-content:hover {
  color: black;
  text-decoration: line-through;
}

.image .content{
  margin: 2rem;
}

.image img {
  width: 100%;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
  margin-bottom: 0.5rem
}

.image img:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-top: 1rem;
} 

footer {
  width: 100%;
  height: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

footer .social-media {
  font-size: 2rem;
  margin: 0.5rem;
}

footer .copyright {
  margin-bottom: 1rem;
  text-align: center;
}

/* All the css below set up layout when screen width 468px to 810px like a tablet */
 @media only screen and (min-width: 468px) and (max-width: 810px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }

  main{
    display: flex;
    width:100%;
    justify-content:space-between;
  }

  .image {
    width: 50%;
    display: flex;
    padding:1rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image .content {
    width: 100%;
    margin:0.5rem 0;
  }
} 
/* All the css below set up layout when screen width over 810px on computer environment */
@media only screen and (min-width: 811px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }

  main{
    display: flex;
    width:100%;
    justify-content:space-between;
  }
}
