*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
    text-decoration: none;
    color: #686668;
    list-style-type: none; 
}
#device-viewport{
    max-width: 1226px;
    margin: 0 auto;
    background-color: rgb(241, 241, 240)
} 
header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 1rem;
} 

header img{
    border-radius: 33%;
    width: 120px;
    height: 120px;
}

header li {
    margin: 0.5rem;
    text-align: right;
}

header li .hover-content:hover {
    color: black;
    text-decoration: line-through;   
}
.image{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}
.image img {
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
}
.image img:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-right: 1.5rem;
}
footer {
  width: 100%;
  height: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:1vh;
}
footer .social-media{
  font-size: 2rem;
  margin: 0.5rem;
}
footer .copyright{
  margin-top:1vh;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width: 468px) and (max-width:810px) {
  header{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} 

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
}
.image{
  padding: 0;
}
.image img {
  width: 36%;
  margin:0.8rem;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
}
.image img:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-top: 0.5rem;
}
}
@media only screen and (min-width:811px){
  header{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} 

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
}
.image img {
  width: 29%;
  height: auto;
  margin:0.8rem;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
}
.image img:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-right: 1rem;
}
}