* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

#device-viewport{
    max-width: 1226px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    z-index: 2;
    align-items: center;
    top:0;
    background-color: antiquewhite;
    border-radius: 5%
}

header img {
    margin: 10px;
    border-radius: 33px;
    width: 100px;
    height: 100px;
}

header li,a {
    color: #686668;
    margin: 10px 1rem;
   
}

li .hover-content:hover {
    color: black;
    text-decoration: line-through;   
}

#intro {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border-radius: 5%;

}
#intro-list{
    font-family:'Courier New', Courier, monospace;
    margin-top: 1rem;
    color: #686668;
}
#intro-list i,p{
    font-size: 1rem;
}
#intro-list .intro-list-content{
    margin:1rem 0; 
}

#intro-pic{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* justify-content: center; */
}

#intro-pic img {
 width: 75vw;
 height: 75vw;
 border-radius: 5%;
}

#intro #hov-pic {
    width: 75vw;
    height: 75vw;
    background-color : rgb(0,0,0,0.3);
    border-radius: 5%;
    position: absolute;
    top:0;
    right:-75vw;
    
}

#intro-pic:hover #hov-pic{
    right:0;
    top:0;
    transition: 0.5s;
}

#profile{
    display: flex;
    flex-wrap: wrap;
}

#profile-1{
    width:100%;
    height: 475px;
    background-color:grey;;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    overflow: hidden;
    text-align: center;
}

#profile-1 h2 {
    margin: 1rem 0;
}
#profile-1 table{
    margin-top:1rem;
    border-collapse: collapse;
}
#profile-1  table,tr, td{
    border: 2px dotted darkgreen;
}
#profile-1 table img{
    width:100px;
    height: 100px;
}
.personality-content{
    width: 100%;
    height: 60px;
    background-color: yellow;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0; 
    top: 475px;
}

#profile-1 td:hover #personality-content1{
    top:415px;
    left:0;
}


#profile-2{
    width:100vw;
    position: relative;
    display: flex;
    background-color: antiquewhite;  
}

#profile-2 img {
    width: 100%;
    opacity: 0.7;

}

#profile-2 h2{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    
}
#profile-3{
    width:100vw;
    position: relative;
    display: flex;
    background-color: rgb(243, 141, 7);  
}
#profile-3 img {
    width: 100%;
}

#profile-3 h2{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;   
}

#profile-4{
    width:100vw;
    position: relative;
    display: flex;
    background-color: rgb(211, 211, 211);  
}
#profile-4 img {
    width: 100%;
    opacity: 0.7;
}

#profile-4 h2{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;   
}
footer {
    width: 100%;
    height: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top:1vh;
}
footer a{
    font-size: 2rem;
    color: #a9a8a9;
    margin: 2rem 0.5rem;
}
footer .copyright{
    margin-top:1vh;
    margin-bottom: 1rem;
    text-align: center;
}