* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #686668;
  list-style-type: none;
}
#device-viewport {
  max-width: 1226px;
  margin: 0 auto;
  background-color: rgb(241, 241, 240);
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-top: 1rem;
}

header img {
  width: 100px;
  height: 100px;
}

header li {
  margin: 0.5rem;
  text-align: right;
}

.hover-content:hover {
  color: black;
  text-decoration: line-through;
}
.project{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project .content{
  width: 100%;
  padding:1rem 2rem;
}
.project img {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.7);
  transition: 0.3s;
}
.project img:hover {
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.7);
  margin-top:1.5rem;
}
footer {
  width: 100%;
  height: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
footer .social-media {
  font-size: 2rem;
  margin: 0.5rem;
}
footer .copyright {
  margin-top: 1vh;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width: 468px) and (max-width: 810px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }

  .project .content{
    width: 50%;
    padding: 1rem;
  }
  .project img {
    margin-bottom: 0.5rem;
  }
  .project img:hover {
    margin-bottom:1rem;
  }
}
@media only screen and (min-width: 811px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  header li {
    margin: 2rem 1rem 1rem;
    text-align: right;
  }
  .project .content{
    width: 33%;
    padding:1rem;
  }
}
