* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  body {
    background-color: antiquewhite;
  }
  
  #device-viewport {
    max-width: 1226px;
    margin:0 auto;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    width:90vw;
    margin: 0 auto;
    background-color: antiquewhite;
  }
  
  header img {
    margin: 10px;
    border-radius: 33px;
    width: 100px;
    height: 100px;
  }
  
  header li,
  a {
    color: #686668;
    margin: 10px 5px;
    text-align: right;
  }
  
  li .hover-content:hover {
    color: black;
    text-decoration: line-through;
  }

  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
  }
  .image img {
    /* width: 90vw; */
    margin: 1rem 0;
    border-radius: 10px;
    width: 90vw;
  }
  footer {
    margin-top: 1rem;
    width: 100%;
    height: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    background-color: antiquewhite;
  }
  footer .social-media {
    font-size: 2rem;
    color: #a9a8a9;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
  }
  footer .social-media a {
    color: #686668;
  }
  footer .copyright {
    margin-top: 1vh;
    margin-bottom: 1rem;
    text-align: center;
  }
  